.about-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(199, 199, 199, 0.884), rgba(170, 170, 170, 0.753)), url("../img/marvel1.jpg");
    background-repeat: cover;
    background-attachment: fixed;
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 4rem;
        color: #fff;
        text-align: center;
        margin-top: 100px;
        // text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.089), 1px 1px 1px rgba(0, 0, 0, 0.726);
        text-shadow: 1px 3px 0 #585858, 1px 13px 5px #757373;
    }
    .header-container {
        position: fixed;
    }
    .image-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        // box-shadow: 5px 5px 15px 5px #000000;
        img {
            border: 2px solid #000;
            width: 216px;
            height: 324px;
            // margin-left: 40%;
            box-shadow: 5px 5px 15px 5px #000000;
        }
        .description {
            width: 400px;
            margin: 30px;
        }
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-repeat: no-repeat;
        background-size: contain;
        // background-color: bisque;
        position: absolute;
        top: 0;
        .plus-about {
            border: #000 solid 2px;
            padding: 10px;
            margin-top: 150px;
            width: auto;
            height: fit-content;
            background-color: rgba(240, 240, 240, 0.432);
        }
        .about-pop {
            border: #000 solid 2px;
            padding: 10px;
            margin-top: 150px;
            width: auto;
            height: fit-content;
            background-color: rgba(240, 240, 240, 0.432);
        }
    }
}